body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* html[data-theme="dark"] {
  --background-color: #2b2b2b;
  --color: whitesmoke;
  --icon-color: whitesmoke;
  --bg-background-color: #4e4e4e4a;
}


html[data-theme="dark"] {
  --color: #2b2b2b;
  --background-color: whitesmoke;
  --icon-color: rgb(27, 27, 27);
  --bg-background-color: #2121214a;
} */
